<footer style="background: #f5f0e1; color: #4B3832; padding: 20px 0; text-align: center;">
    <div>
        <a href="https://www.instagram.com" target="_blank" style="margin: 0 10px;">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram" width="30" height="30">
        </a>
        <a href="https://www.facebook.com" target="_blank" style="margin: 0 10px;">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook" width="30" height="30">
        </a>
    </div>
    <div style="margin-top: 10px;">
        📍 123 Book Street, Ontario, Canada <br>
        📞 (123) 456-7890
    </div>
</footer>

