@model Bookstore_Group6.Models.Books

@{
    ViewBag.Title = "Already Bought";
}

<h2>@ViewBag.Message</h2>

<p><strong>Book Name:</strong> @Model.Name</p>
<p><strong>Author:</strong> @Model.Author</p>

<a href="@Url.Action("Index", "Books")">Back to Book List</a>

